{% extends 'base.html' %}
{% block content %}
    <section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Register</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                    <label for="first_name">First Name</label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                    <label for="last_name">Last Name</label>
                        {{ form.last_name }}
                    </div>
                    <div class="form-group">
                    <label for="username">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                    <label for="email">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                    <label for="password1">Password</label>
                        {{ form.password1 }}
                    </div>
                    <div class="form-group">
                    <label for="password2">Confirm Password</label>
                        {{ form.password2 }}
                    </div>
                    <input type="submit" value = "Submit" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
